@import url("variables.css"); 

html{
	overflow-x: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--gris);
}

h1 {
  text-transform: uppercase;
  color: var(--gris);
  font-weight: 600;
  font-size: 50px;
}

.container-fluid {
	justify-content: center;
}

.pagina-principal{
	padding: 5% 10%;
	position: relative;
	justify-content: center;
}

.logo-small {
  color: var(--amarillo);
  font-size: 50px;
}

.logo {
  color: var(--amarillo);
  font-size: 200px;
}

.navbar {
  margin-bottom: 0;
  color: var(--amarillo);
  z-index: 9999;
  border: 0;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 0;
}

.nav-item {
  padding: 0 5px;
}

.navbar li a, .navbar .navbar-brand {
  color: var(--amarillo);
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #fff;
  background-color: var(--amarillo);
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}

footer {
  font-size: 14px;
  position: absolute;
}

.footer-copyright{
  background-color: var(--amarillo);
  color: var(--gris-claro);
  padding: 10px 0;
}

.footer-copyright a{
  color: var(--blanco)
}


@media screen and (max-width: 768px) {
  .col-sm-6 {
    text-align: center;
    margin: 25px 0;
  }
}

@media screen and (max-width: 480px) {
	.container-fluid {
		padding: 5% 7%;
	}
}