html{
	padding: 200px, 0;
	overflow-x: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #303030;
}

h1 {
  text-transform: uppercase;
  color: #303030;
  font-weight: 600;
  font-size: 50px;
}

.container-fluid {
	padding: 5% 10%;
	position: relative;
	justify-content: center;
}

.logo-small {
  color: #f4511e;
  font-size: 50px;
}

.logo {
  color: #f4511e;
  font-size: 200px;
}

.navbar {
  margin-bottom: 0;
  color: #f4511e;
  z-index: 9999;
  border: 0;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
  color: #f4511e;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #fff;
  background-color: #f4511e;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #f4511e;
}

footer {
  font-size: 14px;
  padding: 10px;
  position: absolute;
}


@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
}

@media screen and (max-width: 480px) {
	.container-fluid {
		padding: 5% 7%;
	}
	
  .logo {
    font-size: 150px;
  }
}